header { padding-block: 1rem 2rem; }

header .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

#profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  min-width: 0;
}

#profile > div { max-width: 384px; }
#profile > img {
  width: 7.5rem;
  height: 7.5rem;
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 50%;
}

#profile h1 {
  font: var(--text-lg);
  color: var(--text-color-primary);
  margin-bottom: 8px;
}
#profile p { font: var(--text-md); }

#info {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 0 0 auto;
  font: var(--text-md);
}
#info li { display: flex; align-items: center; gap: 8px; }
#info img { width: 24px; height: 24px; flex-shrink: 0; }

@media (width >= 40rem) {
  #profile { flex-direction: row; align-items: center; gap: 2rem; }
  #profile > img { width: 11rem; height: 11rem; }
}

@media (width >= 80rem) {
  header { padding-block: 2rem; }
  header .container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  #info { flex-basis: 15rem; }
}
