main {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 1rem;
  padding-block: 1rem;
}

main img {
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  object-fit: cover;
  background-color: var(--surface-color);
}

@media (width >= 40rem) {
  main {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.5rem;
    padding-block: 1.5rem;
  }
}

@media (width >= 80rem) {
  main { grid-template-columns: repeat(4, minmax(0, 1fr)); }
}
